/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* Custom */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    width: 100%;

}

a {
    color: #fff;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 22px;
}


a {
    color: #000000;
    text-decoration: none;
}


.pink
{
    color: #E3026F;
}


/* Main Section */

.bg
{
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("../images/Ellipse\ 4.png");
    background-size: 75%;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: -10;
    overflow: hidden;
}


.home
{   
    max-width: 1728px;
    height: 99vh;
    margin: 0 auto;
    padding: 60px;
    z-index: 10;
}


.content
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    width: 160px;
    height: 40px;
}

.logo  img
{
    width: 100%;
}

.details
{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.details h1
{
    font-weight: 800;
    line-height: 50px;
    font-size: 38px;
    padding-top: 34px;
    padding-bottom: 10px;
}

.details p
{
    font-size: 18px;
    line-height: 30px;
}


.button
{
    display: flex;
    padding-top: 34px;
}

.button a
{
    display: flex;
    align-items: center;
    text-decoration: none; 
    background-color: #E3026F;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 30px;
    color: #fff;
    transition: all 0.5s ease;
}

.button svg
{
    padding-left: 5px;
    transition: all 0.3s ease;
}

.button:hover svg
{
    padding-left: 10px;
}

.button a:hover
{
    background-color: #F7268B;
}

.homeimage
{
    width: 50%;
    padding-left: -30px;
}

.homeimage img
{
    width: 100%;
}

.appimage
{
    display: none;
    width: 50%;
    padding-left: 20px;
}

.appimage img
{
    width: 100%;
}

.bottom
{
    position: relative;
}

.image-left
{
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.image-left img
{
    width: 100%;
    margin-bottom: -14px;
    
}

.image-right
{
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.image-right img
{
    width: 100%;
    margin-bottom: -14px;
}


@media (max-width:1100px) 
{
    .details h1
    {

        font-size: 33px;
    }

    .details p
    {
        font-size: 15px;
    }

}

@media (max-width:1024px) 
{

    .bg
    {
        background-size: 890px;
    }

    .home
    {

        height: fit-content;

    }

    .content
    {
        flex-direction: column;
    }

    .details
    {
        width: 100%;
    }

    .details h1 , p
    {
        width: 80%;
    }

    .homeimage
    {
        display: none;
    }

    .appimage
    {
        display: block;
        width: 578px;
        height: 620px;
        padding-top: 50px;
    }  


}




@media (max-width:640px) 
{
    .home
    {
        background-size: 145% 65%;
        height: fit-content;
        overflow: hidden;
    }
    .details h1 , p
    {
        width: 100%;
    }

    .appimage
    {
        padding-top: 40px;
        width: 493px;
        height: 527px;
        margin-left: 170px;
    }  

    
    .details
    {
        text-align: center;
        align-items: center;
    }

    .logo 
    {
        height: 28px;
        width: 116px;
    }

    .details h1
    {
        line-height: 32px;
        font-size: 25px;
        padding-top: 30px;
    }

    .details p
    {
        font-size: 15px;
        line-height: 25px;
    }

    .button
    {
        display: flex;
        padding-top: 30px;

    }

    .button a
    {
        padding: 12px 20px;
        font-size: 14px;
    }



    .image-right
    {
        display: none;
    }
}



@media (max-width:550px) 
{

    .home
    {
        height: 100vh;
        background-size: 180% 52%;
        padding: 40px 20px;
    }

    .image-left img
    {
        width: 120px;
    }
}
